@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Fields
@using Sitecore.Data
@model RenderingModel
@{
    var logoItem = (Sitecore.Data.Items.Item)ViewBag.Enterprise;
    var url = (string) ViewBag.SiteUrl;
}
<a class="blog-logo" href="@url">
  @Html.Sitecore().Field("Logo", logoItem)
</a>