@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<nav class="main-nav overlay clearfix">
  @Html.Sitecore().Placeholder("logo")
  <ul id="menu">
    <li class="nav-home nav-current" role="presentation"><a href="index.html">Home</a></li>
    <li class="nav-article-example" role="presentation"><a href="article.html">Post Example</a></li>
    <li class="nav-about-us" role="presentation"><a href="about.html">Page Example</a></li>
    <li class="nav-author-page" role="presentation"><a href="author.html">Author Page</a></li>
    <span class="socialheader">
      <a href="#"><span class='symbol'>circletwitterbird</span></a>
      <a href="#"><span class='symbol'>circlefacebook</span></a>
      <a href="#"><span class='symbol'>circlegoogleplus</span></a>
      <a href="mailto:wowthemesnet@gmail.com"><span class='symbol'>circleemail</span></a>
    </span>
  </ul>
</nav>
<header class="main-header " style="background-image: url(assets/img/intro.jpg)">
  <div class="vertical">
    <div class="main-header-content inner">
      <h1 class="page-title">Fashion Critiques</h1>
      <div class="entry-title-divider">
        <span></span><span></span><span></span>
      </div>
      <h2 class="page-description">Thoughts, reviews and ideas since 1999.</h2>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>